<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" #editForm="ngForm">
            <h2 id="tsmjhi-timesheet-entry-mve-heading" jhiTranslate="gatewayApp.timesheetEntry.home.createOrEditLabel">Create or edit a Timesheet Entry</h2>
            <div>
                <tsmjhi-alert-error></tsmjhi-alert-error>
                <div class="form-group" [hidden]="!timesheetEntry.id">
                    <label for="id" jhiTranslate="global.field.id">ID</label>
                    <input type="text" class="form-control" id="id" name="id"
                        [(ngModel)]="timesheetEntry.id" readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.timesheetEntry.date" for="field_date">Date</label>
                    <div class="input-group">
                        <input id="field_date" type="text" class="form-control" name="date" ngbDatepicker  #dateDp="ngbDatepicker" [(ngModel)]="timesheetEntry.date"
                        />
                        <span class="input-group-append">
                            <button type="button" class="btn btn-secondary" (click)="dateDp.toggle()"><fa-icon [icon]="'calendar-alt'"></fa-icon></button>
                        </span>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.timesheetEntry.from" for="field_from">From</label>
                    <div class="d-flex">
                        <input id="field_from" type="datetime-local" class="form-control" name="from" [(ngModel)]="from"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.timesheetEntry.until" for="field_until">Until</label>
                    <div class="d-flex">
                        <input id="field_until" type="datetime-local" class="form-control" name="until" [(ngModel)]="until"
                        />
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.timesheetEntry.remark" for="field_remark">Remark</label>
                    <input type="text" class="form-control" name="remark" id="field_remark"
                        [(ngModel)]="timesheetEntry.remark" />
                </div>

                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.timesheetEntry.labels" for="field_labels">Labels</label>
                    <select class="form-control" id="field_labels" name="labels" [(ngModel)]="timesheetEntry.labelsId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="timesheetLabelOption.id" *ngFor="let timesheetLabelOption of timesheetlabels; trackBy: trackTimesheetLabelById">{{timesheetLabelOption.id}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" jhiTranslate="gatewayApp.timesheetEntry.timesheet" for="field_timesheet">Timesheet</label>
                    <select class="form-control" id="field_timesheet" name="timesheet" [(ngModel)]="timesheetEntry.timesheetId" >
                        <option [ngValue]="null"></option>
                        <option [ngValue]="timesheetOption.id" *ngFor="let timesheetOption of timesheets; trackBy: trackTimesheetById">{{timesheetOption.id}}</option>
                    </select>
                </div>
            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.cancel">Cancel</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.form.invalid || isSaving" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span jhiTranslate="entity.action.save">Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
