<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.timesheetEntry.home.title">Timesheet Entries</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-timesheet-entry-mve" [routerLink]="['/timesheet-entry-mve/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gatewayApp.timesheetEntry.home.createLabel">
            Create new Timesheet Entry
            </span>
        </button>
    </h2>
    <tsmjhi-alert></tsmjhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="timesheetEntries">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="reset.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="date"><span jhiTranslate="gatewayApp.timesheetEntry.date">Date</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="from"><span jhiTranslate="gatewayApp.timesheetEntry.from">From</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="until"><span jhiTranslate="gatewayApp.timesheetEntry.until">Until</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="remark"><span jhiTranslate="gatewayApp.timesheetEntry.remark">Remark</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="labelsId"><span jhiTranslate="gatewayApp.timesheetEntry.labels">Labels</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody infinite-scroll (scrolled)="loadPage(page + 1)" [infiniteScrollDisabled]="page >= links['last']" [infiniteScrollDistance]="0">
            <tr *ngFor="let timesheetEntry of timesheetEntries ;trackBy: trackId">
                <td><a [routerLink]="['/timesheet-entry-mve', timesheetEntry.id, 'view' ]">{{timesheetEntry.id}}</a></td>
                <td>{{timesheetEntry.date | date:'mediumDate'}}</td>
                <td>{{timesheetEntry.from | date:'medium'}}</td>
                <td>{{timesheetEntry.until | date:'medium'}}</td>
                <td>{{timesheetEntry.remark}}</td>
                <td>
                    <div *ngIf="timesheetEntry.labelsId">
                        <a [routerLink]="['../timesheet-label-mve', timesheetEntry.labelsId , 'view' ]" >{{timesheetEntry.labelsId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/timesheet-entry-mve', timesheetEntry.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/timesheet-entry-mve', timesheetEntry.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'timesheet-entry-mve/'+ timesheetEntry.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
