<div>
    <h2 id="page-heading">
        <span jhiTranslate="gatewayApp.timesheetLabel.home.title">Timesheet Labels</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-timesheet-label-mve" [routerLink]="['/timesheet-label-mve/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span  jhiTranslate="gatewayApp.timesheetLabel.home.createLabel">
            Create new Timesheet Label
            </span>
        </button>
    </h2>
    <tsmjhi-alert></tsmjhi-alert>
    <br/>
    <div class="table-responsive" *ngIf="timesheetLabels">
        <table class="table table-striped">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="label"><span jhiTranslate="gatewayApp.timesheetLabel.label">Label</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th jhiSortBy="timesheetEntryId"><span jhiTranslate="gatewayApp.timesheetLabel.timesheetEntry">Timesheet Entry</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let timesheetLabel of timesheetLabels ;trackBy: trackId">
                <td><a [routerLink]="['/timesheet-label-mve', timesheetLabel.id, 'view' ]">{{timesheetLabel.id}}</a></td>
                <td>{{timesheetLabel.label}}</td>
                <td>
                    <div *ngIf="timesheetLabel.timesheetEntryId">
                        <a [routerLink]="['../timesheet-entry-mve', timesheetLabel.timesheetEntryId , 'view' ]" >{{timesheetLabel.timesheetEntryId}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group flex-btn-group-container">
                        <button type="submit"
                                [routerLink]="['/timesheet-label-mve', timesheetLabel.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/timesheet-label-mve', timesheetLabel.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/', { outlets: { popup: 'timesheet-label-mve/'+ timesheetLabel.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div *ngIf="timesheetLabels && timesheetLabels.length">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="queryCount" [maxSize]="5" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
